<div class="py-5 text-center">
    <h2>Cadastrando Totem</h2>
</div>
<div class="container">
    <div class="needs-validation" novalidate>
        <div class="row g-3">
            <div class="col-md-4">
                <label for="selecionarGrupoAtivo" class="form-label">Selecionar Grupo do Ativo:</label>
                <select class="form-select" id="selecionarGrupoAtivo" required>
                    <option value="">Selecione</option>
                    <option>Totem</option>
                    <option>Desktop</option>
                    <option>Laptop</option>
                    <option>Tablet/Ipad</option>
                    <option>Celular</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="row g-3">
            <div class="col-md-4">
                <label for="unidade" class="form-label">Unidade:</label>
                <select class="form-select" id="unidade" required>
                    <option value="">Selecione</option>
                    <option>Áquarius</option>
                    <option>Carapicuíba</option>
                    <option>Matatu</option>
                    <option>Boa Viagem I</option>
                    <option>Tropical Shopping</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="hostname" class="form-label">Hostname:</label>
                <input type="text" class="form-control" id="hostname" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="tipo" class="form-label">Tipo:</label>
                <input type="text" class="form-control" id="tipo" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="serial" class="form-label">Serial:</label>
                <input type="text" class="form-control" id="serial" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="fabricante" class="form-label">Fabricante:</label>
                <input type="text" class="form-control" id="fabricante" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="modelo" class="form-label">Modelo:</label>
                <input type="text" class="form-control" id="modelo" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="ram" class="form-label">RAM:</label>
                <input type="text" class="form-control" id="ram" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="espacoEmDiscoRigido" class="form-label">Espaço em Disco Rígido:</label>
                <input type="text" class="form-control" id="espacoEmDiscoRigido" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="processador" class="form-label">Processador:</label>
                <input type="text" class="form-control" id="processador" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="nDeSerie" class="form-label">Nº de Série:</label>
                <input type="text" class="form-control" id="nDeSerie" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="sistemaOperacional" class="form-label">Sistema Operacional:</label>
                <select class="form-select" id="sistemaOperacional" required>
                    <option value="">Selecione</option>
                    <option>Windows</option>
                    <option>Linux</option>
                    <option>IOS</option>
                    <option>Android</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="versao" class="form-label">Versão:</label>
                <input type="text" class="form-control" id="versao" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="arquitetura" class="form-label">Arquitetura:</label>
                <select class="form-select" id="arquitetura" required>
                    <option value="">Selecione</option>
                    <option>32 bits</option>
                    <option>64 bits</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="versaoDoTotem" class="form-label">Versão do Totem:</label>
                <input type="text" class="form-control" id="versaoDoTotem" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="nDoAtivo" class="form-label">Nº do Ativo:</label>
                <input type="text" class="form-control" id="nDoAtivo" placeholder="" value="" required>
            </div>
            <div class="col-md-4">
                <label for="estadoDoAtivo" class="form-label">Estado do Ativo:</label>
                <input type="text" class="form-control" id="estadoDoAtivo" placeholder="" value="" required>
            </div>
            <div class="mb-4">
                <label for="observacao" class="form-label">Observação</label>
                <textarea class="form-control" id="observacao" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Cadastrar</button>
            </div>
        </div>
    </div>
</div>