<router-outlet>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Selfit Academias</a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/listar-totem">Totem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listar-laptop">Laptop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listar-tablet">Tablet/Ipad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listar-celular">Celular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/atualizar-desktop">Atualizar Desktop</a>
            </li>
            <li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastrar-desktop">Cadastrar Desktop</a>
            </li>

            </ul>

            <form class="d-flex">
            <input class="form-control me-2" type="text"  name="search" placeholder="Buscar" 
            [(ngModel)]="filter" />
            <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
        </div>
    </nav>

    <div class="py-5 text-center">
        <h2>Lista de Desktops</h2>
    </div>

<!-- <nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter" />
</nav> -->
<table class="table table-striped">

    <thead class="cabecalho">
        <tr>
            <th class="identificadorh">Número do Ativo</th>
            <th>Id</th>
            <th>Unidade</th>
            <th>Usuario</th>
            <th>Serial</th>
            <th>Fabricante</th>
            <th>Modelo</th>
            <th>Espaço em Disco</th>
            <th>Processador</th>
            <th>Memória</th>
            <th>Sistema Operacional</th>
            <th>Versão do Sistema</th>
            <th>Arquitetura</th>
            <th>Estado do Ativo</th>
            <th>Observações</th>
            <th>Data de Adição</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody class="body">
        <tr *ngFor="let desktop of desktops | filter: filter">
            <td class="identificadorb">{{desktop.numeroDoAtivo}}</td>
            <td>{{desktop.id}}</td>
            <td>{{desktop.unidade}}</td>
            <td>{{desktop.usuario}}</td>
            <td>{{desktop.serial}}</td>
            <td>{{desktop.fabricante}}</td>
            <td>{{desktop.modelo}}</td>
            <td>{{desktop.espacoEmDisco}}</td>
            <td>{{desktop.processador}}</td>
            <td>{{desktop.memoria}}</td>
            <td>{{desktop.sistemaOperacional}}</td>
            <td>{{desktop.versaoSistema}}</td>
            <td>{{desktop.arquiterura}}</td>
            <td>{{desktop.estadoDoAtivo}}</td>
            <td>{{desktop.observacao}}</td>
            <td>{{desktop.dataDeAdicao | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td><button (click)="remover(desktop.id)">Remover</button></td>
        </tr>
    </tbody>

</table>