<router-outlet>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Selfit Academias</a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/cadastrar-totem">Totem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastrar-laptop">Laptop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastrar-tablet">Tablet/Ipad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastrar-celular">Celular</a>
            </li>
            <li>
                <li class="nav-item">
                    <a class="nav-link" href="/listar-desktop">Listar Desktop</a>
            </li>

            </ul>

            <form class="d-flex">
            <input class="form-control me-2" type="buscar" placeholder="Buscar" aria-label="buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
        </div>
    </nav>

    <br>
    <br>
    <br>
        
    <div class="py-5 text-center">
        <h2>Atualizar Desktop</h2>
    </div>

    <div class="container">

        <form method="post" #frm="ngForm" (ngSubmit)="atualizar(id, frm)" class="row g-3">

            <div class="form-group" class="col-md-4">
                <label for="id">Informe o ID do Ativo</label>
                <input type="number" id="id" name="id" class="form-control" placeholder="" [(ngModel)]="id" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="unidade">Unidade</label>
                <input type="number" id="unidade" name="unidade" class="form-control" placeholder=""
                    [(ngModel)]="desktop.unidade" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="Usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" class="form-control" placeholder=""
                    [(ngModel)]="desktop.usuario" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="serial">Serial</label>
                <input type="text" id="serial" name="serial" class="form-control" placeholder=""
                    [(ngModel)]="desktop.serial" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="fabricante">Fabricante</label>
                <input type="text" id="fabricante" name="fabricante" class="form-control" placeholder=""
                    [(ngModel)]="desktop.fabricante" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" name="modelo" class="form-control" placeholder=""
                    [(ngModel)]="desktop.modelo" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="espaco-disco">Espaço em Disco</label>
                <input type="text" id="espaco-disco" name="espaco-disco" class="form-control" placeholder=""
                    [(ngModel)]="desktop.espacoEmDisco" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="processador">Processador</label>
                <input type="text" id="processador" name="processador" class="form-control" placeholder=""
                    [(ngModel)]="desktop.processador" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="memoria">Memoria</label>
                <input type="text" id="memoria" name="memoria" class="form-control" placeholder=""
                    [(ngModel)]="desktop.memoria" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="sistema-operacional">Sistema Operacional</label>
                <input type="text" id="sistema-operacional" name="sistema-operacional" class="form-control"
                    placeholder="" [(ngModel)]="desktop.sistemaOperacional" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="versao-sistema">Versao do Sistema</label>
                <input type="text" id="versao-sistema" name="versao-sistema" class="form-control" placeholder=""
                    [(ngModel)]="desktop.versaoSistema" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="Arquitetura">Arquitetura</label>
                <input type="text" id="arquiterura" name="arquiterura" class="form-control" placeholder=""
                    [(ngModel)]="desktop.arquitetura" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="numero-ativo">Numero do Ativo</label>
                <input type="text" id="numero-ativo" name="numero-ativo" class="form-control" placeholder=""
                    [(ngModel)]="desktop.numeroDoAtivo" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="estado-do-ativo">Estado do Ativo</label>
                <input type="text" id="estado-do-ativo" name="estado-do-ativo" class="form-control" placeholder=""
                    [(ngModel)]="desktop.estadoDoAtivo" required />
            </div>

            <div class="form-group" class="mb-1">
                <label for="observacao">Observacao</label>
                <input type="text" id="observacao" name="observacao" class="form-control" placeholder=""
                    [(ngModel)]="desktop.observacao" />
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="submit" class="btn btn-primary" [disabled]="frm.invalid">Salvar</button>
            </div>
        </form>

    </div>
</router-outlet>