<!-- <div class="container">
  <app-header></app-header>
</div> -->
<!-- <app-totems-app></app-totems-app> -->

<!-- <h1>Funcionando!</h1>

<a routerLink="/cadastrar" class="btn btn-primary">
  Cadastrar Totem
</a>

<a routerLink="/listar" class="btn btn-primary">
  Listar Totems
</a> -->

<router-outlet></router-outlet>

<router-outlet>
  <a routerLink="/listar-totem" class="btn btn-primary">
    Totem
  </a>
  <a routerLink="/listar-desktop" class="btn btn-primary">
    Desktop
  </a>
  <a routerLink="/listar-laptop" class="btn btn-primary">
    Laptop
  </a>
  <a routerLink="/listar-celular" class="btn btn-primary">
    Celular
  </a>
  <a routerLink="/listar-tablet" class="btn btn-primary">
    Tablet
  </a>
</router-outlet>



<!-- <app-totems-create></app-totems-create> -->
<!-- <app-celular></app-celular> -->
<!-- <app-tablet></app-tablet> -->
<!-- <app-desktop></app-desktop> -->
<!-- <app-laptop></app-laptop> -->
<!-- <app-create-totem></app-create-totem> -->